@font-face{
    font-family: PFAgoraSansPro;
    src: url(../fonts/pfagorasanspro-regular.ttf);
   }

* {padding: 0; margin: 0; font-family: PFAgoraSansPro, arial, sans-serif;}

.clearfix {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

h1{
    font-weight: lighter;
    padding: 50px 0;   
}

header, section, footer{
    width: 100%;   
    text-align: center; 
}

.header-in, .section-in, .footer-in{
    width: 1000px;   
    margin: auto;
}

header, footer{
    background-color: #21acd9;  
    color: white;
}

section{
    color: #232323;
}

.header-in{
    padding: 20px 0 50px;
}

.header-in .camera h1, .header-in .camera .img-camera{
    float: left;   
}

.header-in .camera .img-camera{
    width: 34%;   
    text-align: center;
}

.header-in .camera h1{
    color: #ffffff;
    position: relative;
    padding: 0;
    top: 100px;
    font-weight: 300;
    width: 33%
}

.header-in .contacts{
    padding: 20px 0;
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;  
}

.header-in .contacts .phone{
    margin-top: 5px;
    font-size: 30px;
}

.places{
    width: 930px;  
    margin: auto;
}

.place{
    position: relative;
    width: 290px;
    height: 290px;
    text-align: center;
}

.place.child{
    background-color: #f9ed89;   
}

.place.work{
    background-color: #96d9f5;
}

.place.home{
    background-color: #a5ecde;
}

.place .image-wrapper{
    line-height: 290px;
}

.place .place-img{
    vertical-align: middle;
    display: inline;
}

figcaption .info p{
    text-align: left;
    padding-left: 10px;
    color: #ffffff;
    font-size: 18px;
}

figcaption .info h1{
    color: #cd5f69;
    font-size: 18px;
}


.devices{
    position: relative;   
    text-align: center;
    z-index: 1;
}

.device.ipad{
    top: 50%;
    left: 25%;
    position: absolute;
}

.device.iphone{
    top: 78%;
    left: 23%;
    position: absolute;
}

.device.macbook{
    position: absolute;
    top: 60%;
    left: 55%;
}

.line{
    position: relative;
    top: -30px;
    width: 100%;
    height: 123px;
    background-color: #de9962;
}

.submit-bt{
    border: 3px solid #ffe400;
    background-color: #21acd9;
    color: white;
    outline: none;
    cursor: pointer;
    transition: all 0.4s ease;
}

.submit-bt.big-bt{
    width: 320px;
    height: 60px;
    font-size: 30px;
    font-weight: 300;
}

.submit-bt.small-bt{
    width: 160px;
    height: 40px;
    font-size: 20px;
    font-weight: 300;
}

.submit-bt:hover{
    color: #232323;
    background-color: #ffe400;
    transform: scale(1.2);
}

.submit-bt:active{
    background-color: #e3cb00;
}

.footer-in{
    padding-bottom: 50px;      
}

.popup{
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position:fixed;
    top:0;
    left: 0;
    z-index: 999;
    text-align: center;
}

.popup-in{
    position: relative;
    margin:40px auto 0px auto;
    width: 500px;
    background-color: #21acd9;
}

.popup h1{
    padding: 30px 0 15px;
    color: #ffffff;
    font-size: 35px;
    font-weight: 300;
}

.popup #close{
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.popup #close img{
    width: 34px;
}

.popup .input-icon{
    width: 36px;
    padding: 0 10px;
    vertical-align: middle;
}

.popup .popup-input{
    height: 24px;
    width: 300px;
    outline: none;
    border: 2px solid #fff;
    padding: 4px 8px;
    background-color: #ffffff;
}

.popup .popup-input:focus{
    border: 2px solid #ffe400;
}

.popup .popup-one-input-line{
    width: 405px;
    margin: auto;
    padding: 14px 56px 14px 0;
}

.popup .submit-bt{
    margin: 20px 0 30px;
}

.popup .error-input{
    color: #ffffff;
}

.grid li {
    width: 290px;
    padding: 5px;
}

.grid figcaption {
    padding: 0 5px;
}

.grid figcaption h1{
    text-align: center;
}

.cs-style-4 figure .place {
    transition: transform 0.4s;
}

.no-touch .cs-style-4 figure:hover .place img,
.cs-style-4 figure.cs-hover .place img {
    transform: scale(0.8) translateX(70%);
}

.grid {
    max-width: 100%;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}

.success-email{
    padding-top: 30px;
    font-size: 40px;
}